.navbar {
  display: flex;
  justify-content: space-between;
}

.left-list, .right-list {
  display: flex;
}

.left-bar img {
  height: 50px;
  width: auto;
  position: relative;
  top: -15px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar li {
  display: inline-block;
  padding: 20px;
}

.right-bar li a {
  padding-right: 10px;
}

li a {
  color: gray;
  text-decoration: none;
}

.sign-in {
  padding: 15px;
  border-radius: 10px;
  background-color: lightgray;
  border-style: none;
}

.get-app {
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border-style: none;
}

.dropdowns div {
  float: right;
  position: relative;
  right: 240px;
  bottom: 60px;
}

.hidden {
  display: none;
}

.dropcontainer1, .dropcontainer2, .dropcontainer3, .dropcontainer4  {
  height: 500px;
  width: 100px;
  display: inline-block;
}
